{% extends "layouts/default.twig" %}
{% block content %}
	<div class="container">
		<h2 class="headline--beta">{{ site.title }} Speaker Information</h2>
		<p>
			We're committed to bringing together talented speakers
			to share their knowledge with the community and among each other.
		</p>
		<p>
			We provide a travel and accommodation package to all selected speakers to help make this possible.
		</p>
		<h4 class="headline--alpha">About the event</h4>
		<p>
			With our upcoming event we want to push things forward and be more inclusive to other web tech topics than in previous years.
			Depending on the amount of talk/tutorial submissions we maybe expand the one-day event to two days of knowledge exchange and community experience.
		</p>
		<p>
			Speakers will be provided with a projector and a wireless lapel microphone.
			Speakers should bring any equipment they need to connect to projectors.
			It is also suggested that you reduce your dependency on the in-house internet connection as possible.
		</p>
		<p>
			When the Call for Papers closes, the organizers will sort through the submissions, making
			their selections with help of the first attendees (Blind-Bird ticket buyers).
			Speakers will be notified as soon as the selection process has been completed.
		</p>
		<h4 class="headline--alpha">This year's package</h4>
		<p>
			Our speaker package includes:
		</p>
		<ul>
			<li>Full conference pass</li>
			<li>Full-day catering at the conference (except diner), receptions and activities included in regular conference</li>
			<li>Speaker-Diner or -Brunch (depends on the amount of submissions and conference days)</li>
			<li>Two free tickets for the conference to bring friends or for sharing in the community.</li>
			<li>For speakers remote to the Area:</li>
			<ul>
				<li>Complimentary airfare/travel</li>
				<li>2 or 3 complimentary hotel nights (depends on the amount of submissions and conference days)</li>
				<li>We'll pick you up and drop you off to/from the airport so you don't have to worry about it.</li>
			</ul>
		</ul>
		<p>
			International speakers are encouraged to <a href="/">submit their ideas</a>, but due to budget restrictions,
			we can only accept a limited number of speakers from outside the country.
		</p>
		<h4 class="headline--alpha">Tips for submission</h4>
		<p>
			We <i>strongly</i> encourage potential speakers to submit more than one submission on more than one topic. The
			more submissions you contribute, the more options you give us to pick you. Be sure your talk/tutorial title and abstract
			define the exact topic you want to talk about and what you hope people will learn from the session. In previous
			years, some submissions sounded interesting but we just didn't have enough detail for them to make the final cut.
		</p>
	</div>
{% endblock %}
